<div class="constants-box">
  <div class="box-header">
    <h3>{{ 'CONVERTER.CONSTANTS.TITLE' | translate }}</h3>
    <small class="hint">{{ 'CONVERTER.CONSTANTS.HINT' | translate }}</small>
  </div>

  <div class="constants-list">
    <div class="constant-item" *ngFor="let c of constants" (click)="onInject(c.value)">
      <div class="constant-header">
        <span class="symbol">{{ c.symbol }}</span>
        <span class="name">{{ c.name }}</span>
      </div>
      <div class="constant-val">
        <span class="num">{{ c.value }}</span>
        <span class="unit">{{ c.unit }}</span>
      </div>
    </div>
  </div>
</div>
