<div class="container00">
    <div class="brand-section">
      <img src="assets/img/logo-w.png" alt="Calculato" class="top-logo" />
      <span class="brand-name">Calculato</span>
    </div>
    <ul class="right-menu">
        <li><a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Calculator</a></li>
        <li><a routerLink="/equation" routerLinkActive="active">Equations</a></li>
        <li><a routerLink="/graph" routerLinkActive="active">Graphing</a></li>
        <li><a routerLink="/derivate" routerLinkActive="active">Derivatives</a></li>
        <li><a routerLink="/integrate" routerLinkActive="active">Integrals</a></li>
    </ul>
</div>