<div class="container1">
    <div class="basic">
        <!-- <span class="background"></span> -->
        <div class="expression">{{expression}}</div>
        <div class="buttons">
            <button class="btn complement" (click)="C()" >C</button>
            <button class="btn" (click)="setExp('7')" >7</button>
            <button class="btn" (click)="setExp('4')" >4</button>
            <button class="btn" (click)="setExp('1')" >1</button>
            <button class="btn" (click)="setExp('.')" >.</button>
            <button class="btn" (click)="del()" >←</button>
            <button class="btn" (click)="setExp('8')" >8</button>
            <button class="btn" (click)="setExp('5')" >5</button>
            <button class="btn" (click)="setExp('2')" >2</button>
            <button class="btn" (click)="setExp('0')" >0</button>
            <button class="btn" (click)="setExp('/')" >/</button>
            <button class="btn" (click)="setExp('9')" >9</button>
            <button class="btn" (click)="setExp('6')" >6</button>
            <button class="btn" (click)="setExp('3')" >3</button>
            <button class="btn" (click)="percent()" >%</button>
            <button class="btn" (click)="setExp('*')" >*</button>
            <button class="btn" (click)="setExp('-')" >-</button>
            <button class="btn" (click)="setExp('+')" >+</button>
            <button class="btn equal" id="equal" (click)="solve()" >=</button>
        </div>
    </div>

</div>
