.container{
    background-color: rgb(251, 251, 251);
    position: relative;

    display: flex;
    justify-content: center;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem rgba(232, 231, 231, 0.425);

    top: 5rem;
}

.enable{
    background-color: rgb(192, 192, 192);
    width: 18rem;
    min-height: 35rem;
    position: relative;
    padding: 0px;
    padding-right: .8rem;
    border-radius: 2rem;
    box-shadow: inset 0rem 0rem 1rem rgba(43, 66, 125, 0.588);

    display: grid;
    
}


.result{
    background-color: rgba(248, 248, 248, 0.846);
    width: 100%;
    min-height: 4rem;
    display: flex;
    align-items: end;
    justify-content:end;
    font-size: 2rem;
    font-family: Tahoma;
    border-radius: 2rem 2rem 0rem 0rem;
}
.result p {
    margin-right: 1rem;
    margin-bottom: 1rem;
    
}



.keys{ 
    background-color: rgba(0, 227, 227, 0.159);
    max-width: 100%;
    padding: 1.5rem;
    padding-left: 1.5rem;
    position: relative;
    border-radius: 0rem 0rem 2rem 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}


.bnt1{
    margin: .3rem;
}