<div class="container">

  <div class="enable">
    <div class="result">
        <p>{{results}}</p>
    </div>
    
    <div class="keys">
      <app-button class="bnt1" [route]="'../assets/AC.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/borrar.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/porcentaje.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/dividendo.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/7.png'" (click)="setAB(7)">  </app-button>
      <app-button class="bnt1" [route]="'../assets/8.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/9.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/por.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/4.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/5.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/6.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/menos.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/1.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/2.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/3.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/mas.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/extender.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/0.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/punto.png'">  </app-button>
      <app-button class="bnt1" [route]="'../assets/igual.png'">  </app-button>
    </div>
    
  </div>
</div>
