.container{
    background-color: var(--primary);
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    // background-image: linear-gradient(90deg, #1F3662, #844CC3);
    // border-radius: 1rem;
    // box-shadow: 0rem 0rem 1rem rgba(232, 231, 231, 0.425);

}

.logo{
    background-image: linear-gradient(80deg, var(--third), var(--secondary));
    position: absolute;
    width: 70%;
    height: 50%;
    border-radius: 0 100% 5% 100%;
    box-shadow: 0 0 3.5rem var(--primary) inset,
                0 0 .5rem var(--third) inset;
}

.basic{
    background-color: rgba(31, 54, 98, 0.2); /* Color de fondo con transparencia */
    box-shadow: 0 0 10px rgba(31, 54, 98, 0.8); /* Sombra con transparencia */
    backdrop-filter: blur(50px);
    padding: 10rem 10rem;
    border-radius: 0 70% 5% 70%;


    position: absolute;
    
}