.steps{
    border-left: 2px solid #ddd;
    margin-left: .75rem;
    padding-left: .75rem;
    margin-top: .75rem;

    .step{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        gap: .5rem;
    
        .rule{
            font-weight:600;
        }

        .flex-container{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
        
            div{
                flex: 1;
                min-width: 30%;
            }
        }
    }
}

.toDerive p,
.result p{
    font-size: .9rem;
    opacity: .75;
}